<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,695}}</string>
                <key>sourceSize</key>
                <string>{696,695}</string>
            </dict>
            <key>turn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{696,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,695}}</string>
                <key>sourceSize</key>
                <string>{696,695}</string>
            </dict>
            <key>turn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{696,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,695}}</string>
                <key>sourceSize</key>
                <string>{696,695}</string>
            </dict>
            <key>turn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,2},{696,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,695}}</string>
                <key>sourceSize</key>
                <string>{696,695}</string>
            </dict>
            <key>turn_side1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2794,2},{383,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,383}}</string>
                <key>sourceSize</key>
                <string>{383,383}</string>
            </dict>
            <key>turn_side2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{383,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,383}}</string>
                <key>sourceSize</key>
                <string>{383,383}</string>
            </dict>
            <key>turn_side3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{383,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,383}}</string>
                <key>sourceSize</key>
                <string>{383,383}</string>
            </dict>
            <key>turn_side4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,699},{383,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,383}}</string>
                <key>sourceSize</key>
                <string>{383,383}</string>
            </dict>
            <key>turnout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,699},{631,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,630}}</string>
                <key>sourceSize</key>
                <string>{631,630}</string>
            </dict>
            <key>turnout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,699},{631,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,630}}</string>
                <key>sourceSize</key>
                <string>{631,630}</string>
            </dict>
            <key>turnout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,699},{631,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,630}}</string>
                <key>sourceSize</key>
                <string>{631,630}</string>
            </dict>
            <key>turnout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2671,699},{631,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,630}}</string>
                <key>sourceSize</key>
                <string>{631,630}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>award.png</string>
            <key>size</key>
            <string>{3304,1331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ed5a01ec696af1ebe8b9fb184a872e1:6d099a35d7153db6da3d037edb29f961:1ea2da9025b6948ce35c48ea376a2beb$</string>
            <key>textureFileName</key>
            <string>award.png</string>
        </dict>
    </dict>
</plist>
