<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game101.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game102.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game103.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game104.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>game107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{229,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,260}}</string>
                <key>sourceSize</key>
                <string>{229,260}</string>
            </dict>
            <key>img_goods0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>img_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,2},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>check.png</string>
            <key>size</key>
            <string>{1966,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83b9ebfa8617d7e3a3ea4f72a617d7cc:8c354c5f3fe44bdd49b13078ded71142:94c1aa299819d7f9e85bf81b2698bcce$</string>
            <key>textureFileName</key>
            <string>check.png</string>
        </dict>
    </dict>
</plist>
