<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>pay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,37}</string>
            </dict>
            <key>pay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>pay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,79},{107,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,39}}</string>
                <key>sourceSize</key>
                <string>{107,39}</string>
            </dict>
            <key>pay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>pay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pay.png</string>
            <key>size</key>
            <string>{229,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7848ea3379cba1a94eae8c0a2b1eae81:9b9c3f6e1172706a631cd4ec53781ad2:2dc19c68610ae1a21aa01f352eb7222f$</string>
            <key>textureFileName</key>
            <string>pay.png</string>
        </dict>
    </dict>
</plist>
