<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,926},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1021},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1104},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>big_goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1313},{117,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,77}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>big_goods_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,436},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>big_goods_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1021},{136,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{136,79}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>big_goods_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1021},{136,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{136,79}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>big_goods_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,700},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>big_goods_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>big_goods_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>big_goods_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,720},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>big_goods_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>game100.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1252},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game101.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1393},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1433},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game103.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1374},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game104.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1515},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game106.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1496},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game107.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1637},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>goods_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,306},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>goods_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,393},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>goods_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1629},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>goods_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1629},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>goods_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,344},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>goods_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1374},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>goods_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1439},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>goods_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1566},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>goods_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1502},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>img_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,523},{154,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,98}}</string>
                <key>sourceSize</key>
                <string>{154,98}</string>
            </dict>
            <key>img_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{167,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,119}}</string>
                <key>sourceSize</key>
                <string>{167,119}</string>
            </dict>
            <key>img_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,306},{201,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,116}}</string>
                <key>sourceSize</key>
                <string>{201,116}</string>
            </dict>
            <key>img_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{239,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,114}}</string>
                <key>sourceSize</key>
                <string>{239,114}</string>
            </dict>
            <key>img_typebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>img_typebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{500,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,150}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1432},{118,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,75}}</string>
                <key>sourceSize</key>
                <string>{118,75}</string>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,623},{150,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{150,95}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,424},{156,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{156,97}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{168,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{168,103}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1694},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1552},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1618},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1672},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1694},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,778},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{146,81}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,778},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{146,81}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,530},{148,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{148,99}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1187},{98,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{98,124}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,680},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,810},{98,114}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{98,114}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,910},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1024},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1138},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1165},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1279},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>rank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,128}</string>
            </dict>
            <key>seasonrank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{134,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,65}}</string>
                <key>sourceSize</key>
                <string>{134,65}</string>
            </dict>
            <key>seasonrank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,422},{137,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,67}}</string>
                <key>sourceSize</key>
                <string>{137,67}</string>
            </dict>
            <key>seasonrank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1102},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,61}}</string>
                <key>sourceSize</key>
                <string>{135,61}</string>
            </dict>
            <key>seasonrank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,953},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>seasonrank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{135,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,67}}</string>
                <key>sourceSize</key>
                <string>{135,67}</string>
            </dict>
            <key>seasonrank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>seasonrank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,561},{137,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,67}}</string>
                <key>sourceSize</key>
                <string>{137,67}</string>
            </dict>
            <key>seasonrank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>seasonrank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,815},{137,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,67}}</string>
                <key>sourceSize</key>
                <string>{137,67}</string>
            </dict>
            <key>seasonrank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,884},{137,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,67}}</string>
                <key>sourceSize</key>
                <string>{137,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{506,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359539e08c4b5742fb8e58c97187f562:f328ae9645f8d377e2435497f8ccced7:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
