<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{64,0},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{102,0},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{140,0},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{178,0},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{240,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{330,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{420,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbox4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{510,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,33}</string>
                <key>textureRect</key>
                <string>{{16,0},{16,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,33}</string>
                <key>textureRect</key>
                <string>{{32,0},{16,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,33}</string>
                <key>spriteSourceSize</key>
                <string>{16,33}</string>
                <key>textureRect</key>
                <string>{{48,0},{16,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{216,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{262,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{308,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{354,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{292,291}</string>
                <key>textureRect</key>
                <string>{{180,174},{292,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{292,291}</string>
                <key>textureRect</key>
                <string>{{472,174},{292,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbox3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{292,291}</string>
                <key>textureRect</key>
                <string>{{0,465},{292,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbox4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,291}</string>
                <key>spriteSourceSize</key>
                <string>{292,291}</string>
                <key>textureRect</key>
                <string>{{292,465},{292,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{600,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{690,83},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{0,174},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{90,174},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{0,83},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{80,83},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_self.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{160,83},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{800,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3830d1f97ff637bdbdc7b515f5253d6:a462ad1549510b5cd177d7a044ab1b15:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
